/* Configurações globais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    display: flex; /* Flexibilização do body */
    justify-content: center; /* Alinhamento horizontal */
    align-items: center;  /* Alinhamento vertial */
}
h2{
    font-weight: bolder;
    font-style: oblique;
    font-size: 24px;
    line-height: 2rem;
    margin-bottom: 10px;
    transition: .4s;
    color: #7a0101;
}
/* Config. para Tablet */
@media (min-width: 720px){
    h2{
        font-size: 30px;
        margin-bottom: 30px;
        line-height: 1.8rem; 
        transition: .4s; 
    }
    .container .card .conteudo p{
        font-size: 1.2rem;
    }
}
/* Config. para Desktop */
@media (min-width: 1024px){
    h2{
        margin-bottom: 40px; 
        transition: .4s; 
    }
    .container .card .conteudo p{
        font-size: 1.2rem;
    }
}